# Terraform directories
terraform/.terraform/*
.terraform.tfstate.lock.info
terraform/.terraform.lock.hcl
terraform/tfplan.binary

# Local Terraform state
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform plan files
*.tfplan

# Crash logs
crash.log
crash.*.log

# Override files
*.tfvars
*.tfvars.json

# Local configs
.terraformrc
terraform.rc

# IDE/editor junk
.vscode/
.idea/
*.swp
*.swo
.DS_Store


awscliv2.zip
aws/*